.name{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:300px;
  color:#000000;
  margin-top:10px;
  font-size:1em;
  padding-left: 40px;
  border-radius:4px;
}
.phonenumber{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:300px;
  color:#000000;
  margin-top:10px;
  font-size:1em;
  padding-left: 40px;
  border-radius:4px;
}
.idnumber{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:300px;
  color:#000000;
  margin-top:10px;
  font-size:1em;
  padding-left: 40px;
  border-radius:4px;
}
.location{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:300px;
  color:#000000;
  margin-top:10px;
  font-size:1em;
  padding-left: 40px;
  border-radius:4px;
}
.address{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:300px;
  color:#000000;
  margin-top:10px;
  font-size:1em;
  padding-left: 40px;
  border-radius:4px;
}
.weight{
  background:#ecf0f1;
  border: #ccc 1px solid;
  border-bottom: #ccc 2px solid;
  padding: 8px;
  width:300px;
  color:#000000;
  margin-top:10px;
  font-size:1em;
  padding-left: 40px;
  border-radius:4px;
}
.quantity{
  
  padding: 5px 30px;
  background-color: #7f7a7a;
  color: #ffffff;
}