body {
  margin: 0;
  
}

.nav {
  overflow: hidden;
  background-color:#004150;
  
}
.nav p{
	font-size: 12px;
	font-weight: bolder;
	color: #af0960;
}

.nav a {
    color: #FFFFFF;
	padding: 21px 21px;
	text-align: center;
	float:left;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

.nav a:hover {
  background-color: #65ABC4;
	color: #FFFFFF;
}

.nav a.active {
  background-color: #65ABC4;
	color: #FFFFFF;
}

.nav-right {
  float: right;
}

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%;
	color:#FFFFFF;
	text-align: center;
    background-color:#004150;
 }
 .banner-image{
  /*margin-top: 10px;*/
  
 }
 .howitworks{
  font-size: 28px;
  padding: 0px 10px;
  display: flex;
  width: 50%
  background-color:#7f7a7a;
 	/*background-color: #af0960;*/
 	/*margin-top: 15px;*/
 	/*margin-bottom: 10px;*/
 	/*height: 167px;*/
 }
 .placeorder{
  font-size: 14px;
  background-color: #65ABC4;
  width: 30%;
  margin-top: 10px;
  padding: 6px 8px 6px 16px;
  margin-left: 20px;
 }
 .pickup{
  font-size: 14px;
  background-color: #65ABC4;
  width: 30%;
  margin-top: 10px;
  padding: 6px 8px 6px 16px;
  margin-left: 20px;
 }
 .destination{
  font-size: 14px;
  background-color: #65ABC4;
  width: 30%;
  margin-top: 10px;
  padding: 6px 8px 6px 16px;
  margin-left: 20px;
 }
 .pay{
  font-size: 14px;
  background-color: #65ABC4;
  width: 30%;
  margin-top: 10px;
  padding: 6px 8px 6px 16px;
  margin-left: 20px;
 }
 .howitworks p{
 	
	font-size: 20px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
 }
 .column{
     float: left;
     width: 25%;
     padding: 10px;
     height:50px;
 }
 .howitworks h2{
 	color: #FFFFFF;
 	text-align: center;
 	align-items: center;
 }
 .btn1{
  background:#7f7a7a;
  width:150px;
  height: 30px;
  padding-top:5px;
  padding-bottom:5px;

  color:#FFFFFF;
  border-radius:4px;
 /* margin-top:20px;*/
  margin-bottom:10px;
  /*margin-left: 30px;*/
  float:left;
  text-align: center;
  margin-left:30px;
  font-weight:800;
  font-size:1em;
}