.avatars{
	display: flex;
	width: 50%
	background-color:#7f7a7a;
}

.avatarimage{

    width: 40%;
    height: 80%;
    /*border-radius: 80%;*/
    margin-left: 30px;
    background-color: #af0960;
}
h2{
	text-align: center;
}
.info{
	font-size: 14px;
	background-color: #e0dbdb;
	width: 30%;
}
.orderinfo{
	font-size: 14px;
	background-color: #a39e9e;
	width: 30%;
}
p{
	margin-left: 20px;
	font-size: 16px;
}
h4{
	text-align: center;
}